.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bug {
    background-color: #224b29;
}
.dark {
    background-color: #040707;
}
.dragon {
    background-color: #4d8a95;
}
.eletric {
    background-color: #e1e139;
}
.fairy {
    background-color: #901a43;
}
.fighting {
    background-color: #943f23;
}
.fire {
    background-color: #a51e20;
}
.flying {
    background-color: #4d677d;
}
.ghost {
    background-color: #34346a;
}
.grass {
    background-color: #297a40;
}
.ground {
    background-color: #a46f2e;
}
.ice {
    background-color: #8fd3f5;
}
.normal {
    background-color: #73525b;
}
.poison {
    background-color: #5c3088;
}
.psychic {
    background-color: #9f2b6a;
}
.rock {
    background-color: #45190a;
}
.steel {
    background-color: #62756e;
}
.water {
    background-color: #2557df;
}

.pokemon {
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: self-end;
}

.pokemon .number{
    color: #000;
    opacity: 0.3;
    font-size: .625rem;
    text-align: right;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    filter: brightness(1.5);
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    font-weight: 300;
    border-radius: .625rem;
    text-align: center;
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    background-color: #585da5;
    border: none;
    border-radius: 1rem;
    color: #fff;
}

@media screen and (min-width: 360px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
